<!DOCTYPE html>
<html>

<head>

  <title>Primaseller Assignment</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CDN links -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <!-- Static files -->
  <link rel="stylesheet" type="text/css" href="assets/styles/base.css">
  <script src="assets/js/app.js"></script>
  <script src="assets/js/service.js"></script>
  <script src="assets/js/controller.js"></script>

</head>

<body ng-app="myApp" ng-controller="appController">

   <!-- Header Starts -->
   <div class="row header">
   	<div class="header-content">
   		<span>Ticket Booking Module</span>
   	</div>
   </div>
   <!-- Header Ends-->

   <!-- Main Content Starts -->
   <div class="container">
   	<div class="row">
   		
		<!-- Booking form starts-->
		<div class="col-md-12 col-lg-12 booking-form-holder">
			<form class="form-inline">
			  <div class="form-group">
			    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="booking_info.name">
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" id="seats" placeholder="Number of seats" ng-model="booking_info.seatsCount">
			  </div>
			  <button type="submit" class="btn btn-info" ng-click="startSelection()">Start Selecting</button>
			  <button type="submit" class="btn btn-info" ng-click="reset()">Reset</button>
			</form>
		</div>
		<!-- Booking form ends-->

		<!-- Seats display starts-->
		<div class="col-md-12 col-lg-12 seats-arragement-holder" ng-show="showSeatingArragement === true">

			<div class="col-md-12 col-lg-12 screen-holder">
				<span>Screen this way!</span>
			</div>
			
			<div class="seats-column-display" ng-repeat="column in seatsConfig.columns">
				<div ng-bind="column"></div>
			</div>
			
			<div class="col-md-10 col-lg-10 offset-md-1 offset-lg-1 seats-holder">
				<div class="seats-row-display" ng-repeat="row in seatsConfig.rows">
					<span ng-bind="row"></span>
				</div>			
				<div class="seats-column" ng-repeat="seat in seats" ng-click="toggleSeatState(seat.seatId)" ng-class="{'enabled' : isSeatSelected(seat.seatId), 'disabled': !isSeatAvailable(seat.seatId) }">				
				</div>	
			</div>

			<div class="col-md-10 col-lg-10 submit-selection">
				<button type="button" class="btn btn-info"ng-click="submitSelectedSeats()">Confirm Selection</button>
			</div>
		</div>
		<!-- Seats display ends-->

		
		<!-- Seats info table ends -->

   	</div>

   	<div class="row">
   		<!-- Seats info table starts -->
		<div class="col-md-12 col-lg-12 seats-info-table-holder" ng-if="bookings.length > 0">
		<h3>Bookings</h3>
		<table class="table table-striped seats-info-table">
			 <thead>
		      <tr>
		        <th>Name</th>
		        <th>Seats</th>		        
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat = "booking in bookings">
		        <td ng-bind="booking.name"></td>
		        <td ng-bind="booking.seats"></td>		        
		      </tr>		  
		    </tbody>
  		</table>
		</div>
   	</div>
   </div>
   <!-- Main Content Ends -->


</body>

</html>
