/************* Common Styles ***********************/
.container {
	height: auto;
	color:  #555;
}

/************* Header Styles ***********************/
.header {
	height: 100px; 
	width:auto; 
	background-color: #008080; 
	color: #ffffff;
}

.header-content {
	padding: 30px 50px; 
	float: left; 
	font-size: 22px;
}

/************* Main Content Styles ***********************/
.booking-form-holder {
	height: 150px; 
	text-align: center;
	padding: 50px 0;
}

.seats-arragement-holder {
	height: 800px;
}

.screen-holder {
	height: 30px; 
	background-color: #7A8B8B;
	color: #ffffff; 
	font-size: 18px; 
	text-align: center; 
	margin: 30px 0; 
	line-height: 28px;
}

.seats-holder {
	color: #ffffff; 
	font-size: 18px; 
	text-align: center; 
	margin: 12px 24px; 
	line-height: 28px;
	height: 600px
}

.seats-row {
	height: 45px; 
	width: auto; 
	padding: 10px 20px; 
	background-color: #BCD2EE; 
	margin: 20px 0;
	font-size: 14px;
    line-height: 20px;
}

.seats-row > span {
	font-size: 18px;
	vertical-align: top;
}

.seats-column {
	height: 20px;
    width: 20px;
    display: inline-block;
    margin: 15px 28px;
	border: 2px solid #003F87;
	position: relative; 
	top: -580px;
}

.seats-column-header {
	height: 25px; 
	width: 25px; 
	display:inline-block; 
	margin: 0px 30px;
}

.seats-column.enabled { 
	background: #61B329;    
}

.seats-column.disabled { 
	background: #E3170D;    
}

.seats-info-table-holder {
	height:400px;	
}

.seats-info-table {
	margin: 20px 0;
}

.submit-selection {
	height: 45px;
	text-align: center;
}

.submit-selection > button {
	height: 100%;
}

.btn-default {
	color: #555;
}

.seats-column-display {
	display: inline-block; 
	padding-left: 66px;
	border: none; 
	margin:0; 
	height: 20px; 
	width: auto; 
	text-align: center;
	font-size: 18px;
}

.seats-row-display {
	width: auto; 
	color: #555;
	text-align: left; 
	padding-top: 30px; 
	margin-bottom: 2px;
}